<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>
   
<!-- font aswoem link -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- googgle font -->

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="style.css">

</head>
<body>
   <!-- <div class="container">
        <div class="item1">
            item1
        </div>
        <div class="item2">
            item2
        </div>
        <div class="item3">
            item3
        </div>
        <div class="item4">
            item4
        </div>
   </div> -->

   <!-- <div class="main">
   <div class="title">
    <img src="" alt="">
    <p>ayaat</p>
   </div>
   <div class="text">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, minima!
    </p>
   </div>
   <div class="description">
    <p >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe possimus aliquid ipsa fugit perferendis ex perspiciatis atque, facere incidunt eos aspernatur laudantium deserunt facilis debitis, illo asperiores nihil iste, minus reiciendis eaque ea? Culpa quae recusandae optio, adipisci provident blanditiis perspiciatis ducimus illo quaerat enim aliquid ea quod ipsum amet!
    </p>
   </div>
   </div> -->

   <h1>Hello</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.Illum explicabo sapiente officiis. Recusandae, natus quam?</p>

    <span>
        <!-- <i class="fa-brands fa-facebook"></i> -->
        <!-- <i class="fa-brands fa-facebook"></i> -->

        <i class="fa-brands fa-tiktok tiktok"></i>
        <i class="fa-brands fa-square-instagram instegram"></i>
    </span>
</body>
</html>