.cart{
    width: 50%;
   /* margin: 10px; */
   padding: 2px;
   height: 300px;
   border: 1px solid black;
}
.cart img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.cart p{
    width: 100%;
    height: 100px;
    border: 1px solid rgb(199, 191, 191);
}
.products{
    display: flex;
    justify-content: space-around;
    margin: 3px;
    flex-wrap: wrap;
}